html, body {
    font-family: 'Roboto Mono', 'Monaco', Arial, serif;
    font-size: 18px;
    color: greenyellow;
    background-color: black;
}

.input-container {
    display: flex;
}

#sh-input {
    margin-left: 10px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-family: 'Roboto Mono', 'Monaco', Arial, serif;
    background-color: black;
    color: greenyellow;
}

#output {
    width: 100%;
    border: none;
    font-size: 18px;
    font-family: 'Roboto Mono', 'Monaco', Arial, serif;
    padding: 0;
    background-color: black;
    color: greenyellow;
}